elevenlabs==0.2.26
gitdb==4.0.11
GitPython==3.1.40
numpy
opencv-python==4.8.1.78
openpyxl==3.1.2
python-dateutil==2.8.2
python-docx==1.0.1
python-dotenv==1.0.0
python-pptx==0.6.23
stack-data==0.6.3
streamlit==1.28.0
zipp==3.17.0
